<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jgao.persistence.mapper.SolarCalendarMapper">
  <resultMap id="BaseResultMap" type="top.jgao.persistence.domain.SolarCalendar">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="date_tag" jdbcType="TINYINT" property="dateTag" />
    <result column="working_days" jdbcType="SMALLINT" property="workingDays" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, week, date_tag, working_days
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from solar_calendar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from solar_calendar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.jgao.persistence.domain.SolarCalendar">
    insert into solar_calendar (id, date, week, 
      date_tag, working_days)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{week,jdbcType=VARCHAR}, 
      #{dateTag,jdbcType=TINYINT}, #{workingDays,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="top.jgao.persistence.domain.SolarCalendar">
    insert into solar_calendar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="dateTag != null">
        date_tag,
      </if>
      <if test="workingDays != null">
        working_days,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="dateTag != null">
        #{dateTag,jdbcType=TINYINT},
      </if>
      <if test="workingDays != null">
        #{workingDays,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.jgao.persistence.domain.SolarCalendar">
    update solar_calendar
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="dateTag != null">
        date_tag = #{dateTag,jdbcType=TINYINT},
      </if>
      <if test="workingDays != null">
        working_days = #{workingDays,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.jgao.persistence.domain.SolarCalendar">
    update solar_calendar
    set date = #{date,jdbcType=TIMESTAMP},
      week = #{week,jdbcType=VARCHAR},
      date_tag = #{dateTag,jdbcType=TINYINT},
      working_days = #{workingDays,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>